body {
    background: black;
}

#post-card{
    background: white;
    width: 400px;
    margin: auto

}
#post-header-left {
    display: flex;
    padding: 0px 10px;
   width: 90% }
#post-header-right{
    text-align: right;
    width: 0%;
    padding: 5px;
}

#post-header{
    display: flex;
}